@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap');

body {
    font-family: 'Playfair Display', serif;
}

h2 {
    font-weight: 500;
}

h3 {
    font-weight: 400;
}

h4 {
    font-weight: 300;
}
/*used for the main title on the managnment title page*/
.title {
    margin-top: 20px;
    font-size: 150px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 10px;
}
/*used to center the 3 buttons*/
.navManagmentBar {
    text-align: center;
    margin-top: -1em;
}
/*used for the 3 buttons*/ 
.navManagmentButton {
    font-size: 20px;
    text-shadow: 0.05em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    letter-spacing: 3px;

}
/*when hovering over buttons it makes it red*/
a:hover {
    color: #CE1141;
}
/*used for the vertical lines between the buttons*/
.verticalLine {
    display: inline;
    font-weight: bold;
}
/*used for the description*/
.managmentDescription {
    display: block;
    float: left;
    padding: 3em;
}
/*used for the description*/
.managmentDescriptionText {
    padding: 0.05em;
    text-align: center;
    background-color: white;
}
/*used for the parallax scroll on the nick nurse page*/
.parallax {
    background-image: url("../images/nick_nurse1.jpg");
    min-height: 700px;
    background-attachment: fixed;
    background-position: center; 
    background-repeat: repeat;
    background-size: contain;
    margin-top: 1.5em;
}
/*used for the parallax scroll on the masai ujiri page*/
.parallax2 {
    background-image: url("../images/masai_ujiri.jpg");
    min-height: 700px;
    background-attachment: fixed;
    background-position: center; 
    background-repeat: repeat;
    background-size: contain;
    margin-top: 1.5em;
}
/*used for the parallax scroll on the bobby webster page*/
.parallax3 {
    background-image: url("../images/bobby_webster.jpg");
    min-height: 700px;
    background-attachment: fixed;
    background-position: center; 
    background-repeat: repeat;
    background-size: contain;
    margin-top: 1.5em;
}
/*changes layout based on the size of the page*/ 
@media screen and (max-width:1200px) {
    .managmentDescriptionText {
        font-size: 1.1em;
    }
    .parallax {
        min-height: 510px;
    }
    .parallax2 {
        min-height: 510px;
    }
    .parallax3 {
        min-height: 510px;
    }
  }
/*changes layout based on the size of the page*/ 
@media screen and (max-width:900px) {
    .managmentDescriptionText {
        font-size: .8em;
    }
}

@media screen and (max-width:750px) {
    .parallax {
        min-height: 550px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .parallax2 {
        min-height: 550px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .parallax3 {
        min-height: 550px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left;
    }
}
  /*used to fade the page*/
  div#effect{
      display: none;
  }
