@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap');

body {
    font-family: 'Playfair Display', serif;
}

h2 {
    font-weight: 500;
}

h3 {
    font-weight: 400;
}

td {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.title {
    margin-top: 20px;
    font-size: 150px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 10px;
}

.navStatsBar {
    text-align: center;
    margin-top: -1em;
}

.navStatsButton {
    font-size: 20px;
    text-shadow: 0.05em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    letter-spacing: 3px;

}

a:hover {
    color: #CE1141;
}

.verticalLine {
    display: inline;
    font-weight: bold;
}

.seperator {
    padding-top: 1em;
    padding-bottom: 1em;
}

.main-container {
    display: flex;
    justify-content: center;
}

.wrapper {
    padding-top: 5em;
    display: grid;
    column-gap: 2em;
    row-gap: 1em;
    grid-template-rows: max-content;
    padding:4em
}

.statsDescription {
    text-align: center;
    margin: auto;
    grid-column: 1;
    grid-row: 1 / 1;
}
@media (max-width: 1300px) {
    .wrapper {
        padding: 2em;
    }
}

.statsWrapper {
    text-align: center;
    margin: auto;
    grid-column: 2;
    grid-row: 1 / 1;
}

.wins {
    margin: auto;
    text-align: right;
    grid-column: 3;
    grid-row: 1 / 1;
}

.statsDescriptionText {
    padding: 0.5em;
    text-align: left;
}

.stats {
    margin: auto;
    display: inline-flex;
    flex-wrap: nowrap;
}

.year {
    font-weight: bold;
    font-size: 2.6em;
    letter-spacing: 5px;
    padding: 0em;
}


.homeAway {
    padding: 1em;
    font-size: 1.5em;
    margin-top: auto;
    margin-bottom: auto;
}

.statsText {
    display: grid;
    font-weight: 400;
}

.statsText h2 {
    font-weight: 400;
    font-size: 1.2em;
    padding: 0.15em;
}

.statsText td {
    padding-top:0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
}

.verticalText {
    padding-top: 2em;
    width: 1em;
    word-wrap: break-word;
    text-align: center;
    font-weight: 600;
}

.blackBox {
    background-color: black;
    color: #f4f4f4;
    text-align: center;
}

.statsHome {
    text-align: right;
}

.statsAway {
    text-align: left;
}

.wins td {
    padding: 0.5em;
}

.winsTitle {
    text-align: center;
}

@media (max-width: 1000px) {
    .wrapper {
        display: block;
    }
    .statsWrapper {
        text-align: left;
        margin-top: 2em;
    }
    .statsDescription * {
        text-align: center;
    }
    .wins {
        margin-top: 2em;
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 2300px) {
    .wrapper {
        font-size: 1.3em;
        column-gap: 10em;
    }
}

@media (max-width: 2300px) {
    .wrapper {
        font-size: 1.2em;
        column-gap: 8em;
    }
}

@media (max-width: 1800px) {
    .wrapper {
        font-size: 1.1em;
        column-gap: 6em;
    }
}

@media (max-width: 1400px) {
    .wrapper {
        font-size: 1em;
        column-gap: 4em;
    }
}

@media (max-width: 1200px) {
    .wrapper {
        font-size: .9em;
    }
}

@media (max-width: 450px) {
    .wrapper {
        font-size: .8em;
    }
}

@media (max-width: 400px) {
    .wrapper {
        font-size: .7em;
    }
}

@media (max-width: 350px) {
    .wrapper {
        font-size: .6em;
    }
}
  