@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap');

body {
    font-family: 'Playfair Display', serif;
    text-align: center;
}
h1 {
    padding: 0.5em;
    font-size: 50px;
}
a {
    font-size: 25px;
    padding: 0.5em;
    text-decoration: none;
    color: #CE1141;
}

a:hover {
    color: #b4975a;
}