@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap');

body {
    font-family: 'Playfair Display', serif;
    text-align: center;
}
.title {
    text-align: center;
    font-size: 50px;
    padding: 1em;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

@-webkit-keyframes fade {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fade {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.fade {
    -webkit-animation-name: fade;
    animation-name: fade;
}

.red {
    color:#CE1141;
}

.golden {
    color:#b4975a;
}

.voteInfo {
    color: #CE1141;
    text-align: center;
    font-size: 35px;
}

.submitForm {
    text-align: center;
    padding: 0.3em;
}

.submitForm  label {
    font-size: 30px;
    padding: 0.3em;

}

.submitForm select {
    font: inherit;
    padding: 0.3em;

}

.submitForm input {
    font-size: 20px;
    padding: 0.2em;
    background-color: #F4f4f4;
    border-radius: 3px;
    border-color: grey;
}